@{
    ViewBag.Title = "Trend Tracker";
}
<div class="container">
    <div class="row">
        <p class="text-center">
            <br>
            This website is to show google trends for any keyword and show
            how the search has changed overtime.
        </p>
    </div>
    <div class="form-group">
        <div class="row">
            <form>
                <div class="col-md-4">
                    <h5> Search by Keyword </h5>
                    <input type="text" class="form-control" placeholder="Enter Keyword">
                </div>
                <div class="col-md-3">
                    <h5>Start Date</h5>
                    <div class='input-group date' id='datetimepicker6'>
                        <input type='text' class="form-control" placeholder="Enter Start Date"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <h5>End Date</h5>
                    <div class='input-group date' id='datetimepicker7'>
                        <input type='text' class="form-control" placeholder="Enter End Date"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <h5>Im Ready</h5>
                    <button id="find" onclick="searchWord()" class="btn btn-default">Find</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div id="regions_div" class="center-block" style="height:450px"></div>
        </div>
        <br />
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/datamaps.all.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
    //maps
    var map = new Datamap({
        element: document.getElementById('regions_div'),
        fills: {
            HIGH: '#afafaf',
            LOW: '#123456',
            MEDIUM: 'blue',
            UNKNOWN: 'rgb(0,0,0)',
            defaultFill: 'green'
        },
        data: {
            USA: {
                fillKey: 'MEDIUM',
                numberOfThings: 10381
            }
        }
    });

    // Draw a legend for this map
    map.legend();
</script>