@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <p>
        <br> <br>
        This website is to show google trends for any keyword and show <br />
        how the search has changed overtime.
    </p>
</div>
<br><br>

@* This is to create the second area of the page. With the Search bar for
    the keyword*@
<div class="row">
    <div class="col-md-2">
        <h5> Search by Keyword </h5>
    </div>
    <div class="form-group">
        <form>
            <div class="col-md-2">
                <div class="navbar-form navbar-right">

                    <input type="text" class="form-control" placeholder="Enter Keyword">
                </div>
            </div>
            <div class="col-md-2">
                <div class='input-group date' id='datetimepicker6'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <div class='input-group date' id='datetimepicker7'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-1" align="left">
                <button type="submit" class="btn btn-default">Find</button>
            </div>
        </form>
    </div>
    </div>
@*This is the map that will fade over time as the data set changes over the years*@
<head>
    <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
    <script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
    <script type='text/javascript'>
        google.charts.load('current', { 'packages': ['geochart'] });
        google.charts.setOnLoadCallback(drawMarkersMap);

        function drawMarkersMap() {
            var data = google.visualization.arrayToDataTable([
                ['State', 'Foo Factor'],
                ['US-FL', 200],
                ['US-CA', 300],
                ['US-MO', 20],
                ['US-NY', 150]
            ]);

            var options = {
                region: 'US',
                displayMode: 'regions',
                colorAxis: { colors: ['#00853f ', 'black', '#e31b23 '] },
                backgroundColor: '#81d4fa '

            };

            var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
            chart.draw(data, { width: 900, height: 500, region: "US", resolution: "provinces" })
        };
    </script>
</head>
<body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <div class="container">
        <row>
        </row>
    </div>

    @*This script it to calculate the amount of time is put into the search and figure out
        what % of the progress bar needs to be filled. Script will also take care of the
        transitions*@
    <script>
        var intervalTime = setInterval(transition, 1500);
        function transition() {

        }
        function startOver() {
            clearInterval(intervalTime);

        }


    </script>

    <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
             aria-valuemin="0" aria-valuemax="100" style="width:0%" id="transitionProgressBar">
        </div>
    </div>
    <div class="container">
        <row>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" onclick="transition">Start</button>
                <button type="button" class="btn btn-default">Pause</button>
                <button type="button" class="btn btn-default" onclick="startOver">Reset</button>
            </div>
        </row>
    </div>
</body>