@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <p>
        <br> <br>
        This website is to show what school subjects are trending the most in order to see what <br>
        subjects students are having the most trouble with or are not being taught effectively. <br>
        This website will display graphs comparing subjects of the same time over the years from <br>
        the same subjects. There is also the capabaility to compare different subjects at the same <br>
        time as well.
    </p>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="row">
    <div class="col-md-2">
        <h5> Search by City/State/Region </h5>
    </div>
    <div class="col-md-4">
        <form class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter City,State or Region">
            </div>
            <button type="submit" class="btn btn-default">Find</button>
        </form>
    </div>
</div>
