@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Education Cross Analytics</h1>
    <p class="lead">This website is to show what school subjects are trending the most in order to see what
     subjects students are having the most trouble with or are not being taught effectively. 
     This website will display graphs comparing subjects of the same time over the years from
     the same subjects. There is also the capabaility to compare different subjects at the same
     time as well.
    </p>
    <p><a href="http://www.independent.co.uk/student/student-life/Studies/revision-tips-10-most-common-study-problems-for-students-and-how-to-beat-them-a6694071.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h5> Search by City/State/Region </h5>
    </div>
    <div class="col-md-4">
        <form class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter City,State or Region">
            </div>
            <button type="submit" class="btn btn-default">Find</button>
        </form>
    </div>
</div>